<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tida_okinawa.corona.ui.PreferrencePage"
            class="com.tida_okinawa.corona.correction.CleansingPreferencePage"
            id="com.tida_okinawa.corona.correction.cleansingPage"
            name="クレンジング">
      </page>
      <page
            category="com.tida_okinawa.corona.ui.PreferrencePage"
            class="com.tida_okinawa.corona.correction.DocumentPreferencePage"
            id="com.tida_okinawa.corona.correction.document"
            name="ドキュメント解析">
      </page>
      <page
            category="com.tida_okinawa.corona.ui.PreferrencePage"
            class="com.tida_okinawa.corona.correction.preference.AutoRunSchedulePage"
            id="com.tida_okinawa.corona.correction.autoSchedulePage"
            name="スケジュール実行">
      </page>
      <page
            category="com.tida_okinawa.corona.ui.PreferrencePage"
            class="com.tida_okinawa.corona.correction.morphem.preference.MorphemePreferencePage"
            id="com.tida_okinawa.corona.correction.page2"
            name="形態素・係り受け解析の設定">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tida_okinawa.corona.correction.CorrectionPreferenceInitializer">
      </initializer>
      <initializer
            class="com.tida_okinawa.corona.correction.morphem.preference.MorphemePreference">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tida_okinawa.corona.correction.auto.editor.CleansingFlowEditor"
            default="true"
            extensions="bat"
            id="com.tida_okinawa.corona.correction.CleansingFlowEditor"
            name="解析フローエディタ">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.tida_okinawa.corona.correction.editorAction.CleansingFlow1"
            targetID="com.tida_okinawa.corona.correction.CleansingFlowEditor">
         <menu
               id="Corona.AutoCleansingMenu"
               label="&amp;Corona"
               path="additions">
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.tida_okinawa.corona.correction.auto.CheckExternalPluginBudleId"
               id="com.tida_okinawa.corona.correction.action1"
               label="Juman/KNPバンドルID表示"
               menubarPath="Corona.AutoCleansingMenu/additions"
               style="push">
         </action>
      </editorContribution>
   </extension>

</plugin>
