<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tida_okinawa.corona.ui.category.corona"
            name="Corona">
      </category>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.CoronaProjectWizard"
            finalPerspective="com.tida_okinawa.corona.ui.perspective"
            icon="icons/corona2.png"
            id="com.tida_okinawa.corona.ui.wizard.new.coronaProject"
            name="Coronaプロジェクト"
            project="true">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.NewProductWizard"
            icon="icons/product.gif"
            id="com.tida_okinawa.corona.ui.wizard.new.product"
            name="ターゲット">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.NewUserDictionaryWizard"
            icon="icons/userdic-special.gif"
            id="com.tida_okinawa.corona.ui.wizard.new.userdictionary"
            name="固有辞書"
            project="false">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.NewCommonDictionaryWizard"
            icon="icons/userdic-common.gif"
            id="com.tida_okinawa.corona.ui.wizard.new.commondictionary"
            name="一般辞書"
            project="false">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.NewCategoryDictionaryWizards"
            icon="icons/userdic-category.gif"
            id="com.tida_okinawa.corona.ui.wizard.new.domaindictionary"
            name="分野辞書">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.NewPatternDictionaryWizard"
            icon="icons/dic-pattern.gif"
            id="com.tida_okinawa.corona.ui.wizard.new.patterndictionary"
            name="構文パターン辞書"
            project="false">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.NewLabelDictionaryWizard"
            icon="icons/dic-label.gif"
            id="com.tida_okinawa.corona.ui.wizard.new.labelDictionary"
            name="ラベル辞書"
            project="false">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.NewFluctuationDictionaryWizard"
            icon="icons/dic-fluc.gif"
            id="com.tida_okinawa.corona.ui.wizard.new.flucDictionary"
            name="ゆらぎ辞書"
            project="false">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.NewSynonymDictionaryWizard"
            icon="icons/dic-synonym.gif"
            id="com.tida_okinawa.corona.ui.wizard.new.synonymDictionary"
            name="同義語辞書"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.tida_okinawa.corona.ui.category.corona"
            name="Corona">
      </category>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.DataBaseUserDicImportWizard"
            id="com.tida_okinawa.corona.ui.wizards.DataBaseUserDicImportWizard"
            name="データベース登録済みの辞書をワークスペースへ">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.ImportCoronaProjectWizard"
            id="com.tida_okinawa.corona.ui.wizards.CoronaProjectImportWizard"
            name="データベース登録済みのCoronaプロジェクトをワークスペースへ">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.ExportCleansingWizard"
            id="com.tida_okinawa.corona.ui.wizard.export.Cleansing"
            name="構文解析結果(ラベル無しCSV)">
      </wizard>
      <wizard
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.wizards.ExportDictionaryWizard"
            id="com.tida_okinawa.corona.ui.wizard.export.Dictionary"
            name="辞書">
      </wizard>
      <category
            id="com.tida_okinawa.corona.ui.category.corona"
            name="Corona">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tida_okinawa.corona.internal.ui.perspective.CoronaPerspective"
            icon="icons/corona.png"
            id="com.tida_okinawa.corona.ui.perspective"
            name="Corona">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tida_okinawa.corona.ui.perspective">
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <viewShortcut
               id="com.tida_okinawa.corona.ui.DataBaseView">
         </viewShortcut>
         <newWizardShortcut
               id="com.tida_okinawa.corona.ui.wizard.new.coronaProject">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.tida_okinawa.corona.ui.category.corona"
            name="Corona">
      </category>
      <view
            category="com.tida_okinawa.corona.ui.category.corona"
            class="com.tida_okinawa.corona.ui.views.db.DataBaseView"
            icon="icons/claim.gif"
            id="com.tida_okinawa.corona.ui.DataBaseView"
            name="データベース"
            restorable="true">
      </view>
      <view
            class="com.tida_okinawa.corona.ui.views.pattern.reference.ReferenceRelationView"
            icon="icons/result-pattern.gif"
            id="com.tida_okinawa.corona.ui.view.reference"
            name="参照関係"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tida_okinawa.corona.ui.editors.user.UserDicEditor"
            default="true"
            extensions="dic"
            icon="icons/userdic-special.gif"
            id="com.tida_okinawa.corona.ui.editor.productdic"
            name="ユーザ辞書">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.user.UserDicEditor"
            default="false"
            extensions="cdic"
            icon="icons/userdic-common.gif"
            id="com.tida_okinawa.corona.ui.editor.commondic"
            name="一般辞書">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.user.UserDicEditor"
            default="false"
            extensions="ddic"
            icon="icons/userdic-category.gif"
            id="com.tida_okinawa.corona.ui.editor.domaindic"
            name="分野辞書">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.FlucDicEditor"
            default="true"
            extensions="fdic"
            icon="icons/dic-fluc.gif"
            id="com.tida_okinawa.corona.ui.editor.fluctuationdic"
            name="ゆらぎ辞書">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.SynonymDicEditor"
            default="true"
            extensions="sdic"
            icon="icons/dic-synonym.gif"
            id="com.tida_okinawa.corona.ui.editor.synonymdic"
            name="同義語辞書">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.LabelDicEditor"
            default="true"
            extensions="ldic"
            icon="icons/dic-label.gif"
            id="com.tida_okinawa.corona.ui.editor.labeldic"
            name="ラベル辞書">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.pattern.PatternDicEditor"
            contributorClass="com.tida_okinawa.corona.ui.editors.pattern.PatternDicEditorActionContributor"
            default="false"
            extensions="pdic"
            icon="icons/dic-pattern.gif"
            id="com.tida_okinawa.corona.ui.editor.patterndic"
            name="構文パターン辞書">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.ResultMorphemeEditor"
            contributorClass="com.tida_okinawa.corona.ui.editors.ResultMorphemeEditorActionContributor"
            default="false"
            icon="icons/result-morphological.gif"
            id="com.tida_okinawa.corona.ui.editor.morphemeeditor"
            name="形態素・係り受け解析">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.ResultPatternEditor"
            default="false"
            icon="icons/result-pattern.gif"
            id="com.tida_okinawa.corona.ui.editor.resultpatterneditor"
            name="構文解析">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.FrequentTermEditor"
            default="false"
            icon="icons/result-frequent.gif"
            id="com.tida_okinawa.corona.ui.editor.frequenttermeditor"
            name="頻出用語抽出">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.ClaimDataEditor"
            default="false"
            icon="icons/claim.gif"
            id="com.tida_okinawa.corona.ui.editors.ClaimDataEditor"
            name="問い合わせデータビュー">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.ResultSynonymEditor"
            default="false"
            icon="icons/result-synonym.gif"
            id="com.tida_okinawa.corona.ui.editor.synonymresulteditor"
            name="ゆらぎ・同義語補正">
      </editor>
      <editor
            class="com.tida_okinawa.corona.ui.editors.collocation.CollocationTermEditor"
            default="false"
            id="com.tida_okinawa.corona.ui.editor.collocationtermeditor"
            name="連語抽出">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tida_okinawa.corona.ui.views.NavigatorContentProvider"
            icon="icons/corona2.png"
            id="com.tida_okinawa.corona.ui.navigatorContent"
            labelProvider="com.tida_okinawa.corona.ui.views.NavigatorLabelProvider"
            name="Corona"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.tida_okinawa.corona.internal.ui.views.model.IUIElement">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.tida_okinawa.corona.internal.ui.views.model.IUIProduct">
               </instanceof>
               <instanceof
                     value="com.tida_okinawa.corona.internal.ui.views.model.IUIDictionary">
               </instanceof>
               <instanceof
                     value="com.tida_okinawa.corona.internal.ui.views.model.IUIWork">
               </instanceof>
               <instanceof
                     value="com.tida_okinawa.corona.internal.ui.views.model.IUIClaim">
               </instanceof>
            </or>
         </possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
         <actionProvider
               class="com.tida_okinawa.corona.internal.ui.actions.OpenActionProvider"
               id="com.tida_okinawa.corona.ui.actions.navigator.OpenActions"
               overrides="org.eclipse.ui.navigator.resources.OpenActions">
            <enablement>
               <or>
                  <instanceof
                        value="com.tida_okinawa.corona.internal.ui.views.model.IUIDictionary">
                  </instanceof>
                  <instanceof
                        value="com.tida_okinawa.corona.internal.ui.views.model.IUIWork">
                  </instanceof>
                  <instanceof
                        value="com.tida_okinawa.corona.internal.ui.views.model.IUIClaim">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.tida_okinawa.corona.internal.ui.actions.EditActionProvider"
               id="com.tida_okinawa.corona.ui.actions.navigator.EditActions"
               overrides="org.eclipse.ui.navigator.resources.actions.EditActions">
            <enablement>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.tida_okinawa.corona.ui.CoronaNature">
                     </test>
                  </and>
                  <instanceof
                        value="com.tida_okinawa.corona.internal.ui.views.model.IUIProduct">
                  </instanceof>
                  <instanceof
                        value="com.tida_okinawa.corona.internal.ui.views.model.IUIDictionary">
                  </instanceof>
                  <instanceof
                        value="com.tida_okinawa.corona.internal.ui.views.model.IUIWork">
                  </instanceof>
                  <instanceof
                        value="com.tida_okinawa.corona.internal.ui.views.model.IUIClaim">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.tida_okinawa.corona.internal.ui.actions.RefactorActionProvider"
               id="com.tida_okinawa.corona.ui.actions.navigator.RefactorActions"
               overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions">
            <enablement>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.tida_okinawa.corona.ui.CoronaNature">
                     </test>
                  </and>
                  <instanceof
                        value="com.tida_okinawa.corona.internal.ui.views.model.IUIDictionary">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <commonSorter
               class="com.tida_okinawa.corona.ui.views.CoronaElementViewerSorter">
         </commonSorter>
      </navigatorContent>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.coronaProject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.product">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tida_okinawa.corona.ui.CoronaNature">
               </test>
            </adapt></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.userdictionary">
         <enablement>
            <instanceof
                  value="com.tida_okinawa.corona.internal.ui.views.model.IUILibFolder">
            </instanceof></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.commondictionary">
         <enablement>
            <instanceof
                  value="com.tida_okinawa.corona.internal.ui.views.model.IUILibFolder">
            </instanceof>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.domaindictionary">
         <enablement>
            <instanceof
                  value="com.tida_okinawa.corona.internal.ui.views.model.IUILibFolder">
            </instanceof>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.patterndictionary">
         <enablement>
            <instanceof
                  value="com.tida_okinawa.corona.internal.ui.views.model.IUILibFolder">
            </instanceof>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.labelDictionary">
         <enablement>
            <instanceof
                  value="com.tida_okinawa.corona.internal.ui.views.model.IUILibFolder">
            </instanceof></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.flucDictionary">
         <enablement>
            <instanceof
                  value="com.tida_okinawa.corona.internal.ui.views.model.IUILibFolder">
            </instanceof></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.tida_okinawa.corona.ui.category.corona"
            type="new"
            wizardId="com.tida_okinawa.corona.ui.wizard.new.synonymDictionary">
         <enablement>
            <instanceof
                  value="com.tida_okinawa.corona.internal.ui.views.model.IUILibFolder">
            </instanceof></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.tida_okinawa.corona.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tida_okinawa.corona.ui.handlers.CleansingMorphemeHandler"
            commandId="com.tida_okinawa.corona.ui.command.cleansingmorpheme">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.CleansingSynonymHandler"
            commandId="com.tida_okinawa.corona.ui.command.cleansingsynonym">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.CleansingSyntaxHandler"
            commandId="com.tida_okinawa.corona.ui.command.cleansingsyntax">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.DbViewCorrectionOfErrorsHandler"
            commandId="com.tida_okinawa.corona.ui.command.dbview_goki">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.DbViewDBEntryHandler"
            commandId="com.tida_okinawa.corona.ui.command.dbview_dbentry">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.DbViewColumnChangeHandler"
            commandId="com.tida_okinawa.corona.ui.command.dbview_columnchange">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.DbViewImportHandler"
            commandId="com.tida_okinawa.corona.ui.command.dbview_import">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.DbViewOpenHandler"
            commandId="com.tida_okinawa.corona.ui.command.dbview_open">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.DbViewDeleteHandler"
            commandId="com.tida_okinawa.corona.ui.command.dbview_delete">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.DbViewRenameHandler"
            commandId="com.tida_okinawa.corona.ui.command.dbview_rename">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.LabelDicEditRenameHandler"
            commandId="com.tida_okinawa.corona.ui.command.label_rename">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.LabelDicEditDeleteHandler"
            commandId="com.tida_okinawa.corona.ui.command.label_delete">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.LabelDicEditMakeChildHandler"
            commandId="com.tida_okinawa.corona.ui.command.label_makechild">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.UserDicEditDeleteHandler"
            commandId="com.tida_okinawa.corona.ui.command.userdic_delete">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.LabelDicEditMakeParentHandler"
            commandId="com.tida_okinawa.corona.ui.command.label_makeparent">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.FrequentTermHandler"
            commandId="com.tida_okinawa.corona.ui.command.frequentterm_extract">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.DbViewExportHandler"
            commandId="com.tida_okinawa.corona.ui.command.dbview_export">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.handlers.ClaimWorkDataExportHandler"
            commandId="com.tida_okinawa.corona.ui.command.exportClaimWorkData">
      </handler>
            <handler
            class="com.tida_okinawa.corona.ui.handlers.CleansingCollocationHandler"
            commandId="com.tida_okinawa.corona.ui.command.collocation">
      </handler>
            <handler
                  class="com.tida_okinawa.corona.ui.editors.extract.ExtractCooccurrenceHandler"
                  commandId="com.tida_okinawa.corona.ui.command.extract_cooccurrence">
            </handler>
            <handler
                  class="com.tida_okinawa.corona.ui.editors.extract.ExtractRelationHandler"
                  commandId="com.tida_okinawa.corona.ui.command.extract_relation">
            </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.tida_okinawa.corona.ui.command.cleansingmorpheme"
            name="クレンジング実行/形態素・係り受け解析">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.cleansingfluctuation"
            name="クレンジング実行/ゆらぎ補正">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.cleansingsynonym"
            name="クレンジング実行/同義語統一">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.cleansingsyntax"
            name="クレンジング実行/構文解析">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.collocation"
            name="クレンジング実行/連語抽出">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.dbview_goki"
            name="DBView_correction_of_errorsmand">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.dbview_dbentry"
            name="DBView_DBEntry">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.dbview_columnchange"
            name="DBView_ColumnChange">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.dbview_import"
            name="DBView_Import">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.dbview_export"
            name="DBView_Export">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.dbview_open"
            name="DBView_Open">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.dbview_delete"
            name="DBView_Delete">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.dbview_rename"
            name="DBView_ReName">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.label_makeparent"
            name="LabelDicEdit_MakeParent">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.label_makechild"
            name="LabelDicEdit_MakeChild">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.label_rename"
            name="LabelDicEdit_ReName">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.label_delete"
            name="LabelDicEdit_Delete">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.userdic_delete"
            name="UserDicEdit_Delete">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.frequentterm_extract"
            name="FrequentTerm_Extract">
      </command>
            <command
            id="com.tida_okinawa.corona.ui.command.collocation"
            name="collocation">
      </command>
      <command
            defaultHandler="com.tida_okinawa.corona.internal.ui.actions.CategoryOrganizeAction"
            id="com.tida_okinawa.corona.ui.command.organizeCategory"
            name="分野名称整理">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.exportClaimWorkData"
            name="ExportClaimWorkData">
      </command>
<!--
      <command
            id="com.tida_okinawa.corona.ui.command.turningpoint"
            name="変化点検出">
      </command>
-->
      <command
            id="com.tida_okinawa.corona.ui.command.extract_cooccurrence"
            name="抽出/共起抽出">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.extract_relation"
            name="抽出/係り受け抽出">
      </command>
   </extension>
   <extension
         id="com.tida_okinawa.corona.ui.menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <separator
               name="com.tida_okinawa.corona.ui.separator2">
         </separator>
         <menu
               id="com.tida_okinawa.corona.ui.command.menuExportClaimWorkData"
               label="形式を選択してエクスポート">
            <command
                  commandId="com.tida_okinawa.corona.ui.command.exportClaimWorkData"
                  icon="icons/export_csv.png"
                  label="CSV(ラベルなし)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.tida_okinawa.corona.internal.ui.views.model.IUIWork">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </menu>
         <menu
               label="クレンジング実行(&amp;R)">
            <command
                  commandId="com.tida_okinawa.corona.ui.command.cleansingmorpheme"
                  icon="icons/result-morphological.gif"
                  label="形態素・係り受け解析(&amp;M)"
                  style="push">
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.cleansingsynonym"
                  icon="icons/result-synonym.gif"
                  label="ゆらぎ・同義語補正(&amp;S)"
                  style="push">
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.cleansingsyntax"
                  icon="icons/result-pattern.gif"
                  label="構文解析(&amp;P)"
                  style="push">
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.frequentterm_extract"
                  icon="icons/result-frequent.gif"
                  label="頻出用語抽出(&amp;F)"
                  style="push">
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.collocation"
                  icon="icons/result-frequent.gif"
                  label="連語抽出(&amp;C)"
                  style="push">
            </command>
         </menu>
         <menu
               label="抽出">
            <command
                  commandId="com.tida_okinawa.corona.ui.command.extract_cooccurrence"
                  label="共起抽出"
                  style="push">
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.extract_relation"
                  label="係り受け抽出"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tida_okinawa.corona.ui.DataBaseView?after=additions">
         <separator
               name="com.tida_okinawa.corona.ui.separator.dbview_separator1">
         </separator>
         <command
               commandId="com.tida_okinawa.corona.ui.command.dbview_dbentry"
               id="com.tida_okinawa.corona.ui.popupmenus.dbentrycommand"
               label="問い合わせデータファイル登録(&amp;N)">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <command
               commandId="com.tida_okinawa.corona.ui.command.dbview_columnchange"
               id="com.tida_okinawa.corona.ui.popupmenus.columnchangecommand"
               label="ID/ターゲット列設定(&amp;C)">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tida_okinawa.corona.ui.command.dbview_open"
               id="com.tida_okinawa.corona.ui.popupmenus.opencommand"
               label="開く(&amp;O)">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tida_okinawa.corona.ui.command.dbview_delete"
               id="com.tida_okinawa.corona.ui.popupmenus.deletecommand"
               label="削除(&amp;D)">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tida_okinawa.corona.ui.command.dbview_rename"
               id="com.tida_okinawa.corona.ui.popupmenus.renamecommand"
               label="名前の変更(&amp;M)"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="com.tida_okinawa.corona.ui.separator.dbview_separator2"
               visible="true">
         </separator>
         <command
               commandId="com.tida_okinawa.corona.ui.command.dbview_goki"
               id="com.tida_okinawa.corona.ui.popupmenus.gokicommand"
               label="誤記補正(&amp;E)">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="com.tida_okinawa.corona.ui.separator.dbview_separator3"
               visible="true">
         </separator>
         <command
               commandId="com.tida_okinawa.corona.ui.command.dbview_import"
               id="com.tida_okinawa.corona.ui.popupmenus.importcommand"
               label="辞書のインポート(&amp;I)">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.tida_okinawa.corona.ui.command.dbview_export"
               id="com.tida_okinawa.corona.ui.popupmenus.exportcommand"
               label="辞書のエクスポート(&amp;E)">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="com.tida_okinawa.corona.ui.separator.dbview_separator4"
               visible="true">
         </separator>
         <command
               commandId="com.tida_okinawa.corona.ui.command.organizeCategory"
               label="分野名の整理(&amp;B)"
               style="push">
         </command>
         <menu
               icon="icons/obj16/plugins.gif"
               id="com.tida_okinawa.corona.ui.dbview.extension"
               label="拡張メニュー">
            <separator
                  name="com.tida_okinawa.corona.ui.dbview.extension1"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tida_okinawa.corona.ui.editor.patterndic?after=PatternDicEditorNew">
         <menu
               label="子要素作成(&amp;N)">
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createTerm"
                  label="単語(&amp;T)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createOrder"
                  label="順序(&amp;O)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createSequence"
                  label="連続(&amp;S)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createModification"
                  label="係り受け(&amp;M)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createModificationElementSource"
                  label="係り元(&amp;S)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createModificationElementDestination"
                  label="係り先(&amp;D)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createOr"
                  label="&amp;Or"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createAnd"
                  label="&amp;And"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createNot"
                  label="&amp;Not"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.tida_okinawa.corona.ui.command.createLink"
                  label="参照(&amp;L)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>

      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tida_okinawa.corona.ui.editor.patterndic?after=PatternDicEditorEditGroup">
         <command
               commandId="com.tida_okinawa.corona.ui.command.patternDelete"
               label="削除(&amp;D)"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tida_okinawa.corona.ui.editor.labeldic?after=additions">
         <command
               commandId="com.tida_okinawa.corona.ui.command.label_makeparent"
               label="TopLevelラベルを作成する(&amp;N)"
               style="push">
         </command>
         <command
               commandId="com.tida_okinawa.corona.ui.command.label_makechild"
               label="子ラベルを作成する(&amp;C)"
               style="push">
         </command>
         <command
               commandId="com.tida_okinawa.corona.ui.command.label_rename"
               label="ラベル名変更(&amp;R)"
               style="push">
         </command>
         <command
               commandId="com.tida_okinawa.corona.ui.command.label_delete"
               label="削除(&amp;D)"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tida_okinawa.corona.ui.editor.productdic?after=additions">
         <command
               commandId="com.tida_okinawa.corona.ui.command.userdic_delete"
               label="削除(&amp;D)"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tida_okinawa.corona.ui.editor.patterndic?after=TemplateAddDialog">
         <command
               commandId="com.tida_okinawa.corona.ui.command.templateAdd"
               label="ひな型として登録"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="CoronaNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tida_okinawa.corona.ui.CoronaNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.tida_okinawa.corona.internal.ui.views.model.IUIElement"
            class="com.tida_okinawa.corona.internal.ui.IUIElementAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
   </extension>
   <extension
         name="パターン辞書用"
         point="org.eclipse.ui.commands">
      <command
            id="com.tida_okinawa.corona.ui.command.createOr"
            name="Or">
         <commandParameter
               id="com.tida_okinawa.corona.ui.commandParameter.patternType"
               name="Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createAnd"
            name="And">
         <commandParameter
               id="com.tida_okinawa.corona.ui.commandParameter.patternType"
               name="Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createNot"
            name="Not">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createOrder"
            name="Order">
         <commandParameter
               id="com.tida_okinawa.corona.ui.commandParameter.patternType"
               name="Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createSequence"
            name="Sequence">
         <commandParameter
               id="com.tida_okinawa.corona.ui.commandParameter.patternType"
               name="Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createModification"
            name="Modification">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createModificationElementSource"
            name="ModificationElementSource">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createModificationElementDestination"
            name="ModificationElementDestination">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createTerm"
            name="Term">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.createLink"
            name="Link">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.patternDelete"
            name="Delete">
      </command>
      <command
            id="com.tida_okinawa.corona.ui.command.templateAdd"
            name="TemplateAdd">
      </command>
   </extension>
   <extension
         name="パターン辞書用"
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateOr"
            commandId="com.tida_okinawa.corona.ui.command.createOr">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateAnd"
            commandId="com.tida_okinawa.corona.ui.command.createAnd">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateNot"
            commandId="com.tida_okinawa.corona.ui.command.createNot">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateOrder"
            commandId="com.tida_okinawa.corona.ui.command.createOrder">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateSequence"
            commandId="com.tida_okinawa.corona.ui.command.createSequence">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateModification"
            commandId="com.tida_okinawa.corona.ui.command.createModification">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateModificationSource"
            commandId="com.tida_okinawa.corona.ui.command.createModificationElementSource">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateModificationDestination"
            commandId="com.tida_okinawa.corona.ui.command.createModificationElementDestination">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateTerm"
            commandId="com.tida_okinawa.corona.ui.command.createTerm">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.handlers.CreateLink"
            commandId="com.tida_okinawa.corona.ui.command.createLink">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.pattern.DeleteHandler"
            commandId="com.tida_okinawa.corona.ui.command.patternDelete">
      </handler>
      <handler
            class="com.tida_okinawa.corona.ui.editors.template.TemplateAddHandler"
            commandId="com.tida_okinawa.corona.ui.command.templateAdd">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.tida_okinawa.corona.ui.resultPatternEditorContribution1"
            targetID="com.tida_okinawa.corona.ui.editor.resultpatterneditor">
         <action
               class="com.tida_okinawa.corona.internal.ui.actions.ResultPatternEditorActionDelegate"
               icon="icons/export_csv.png"
               id="com.tida_okinawa.corona.ui.ResultPatternEditorActionDelegate1"
               label="CSV出力(ラベルなし)"
               menubarPath="edit/additions"
               style="push"
               toolbarPath="additions"
               tooltip="CSV出力(ラベルなし)">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tida_okinawa.corona.ui.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tida_okinawa.corona.ui.PreferencePage"
            id="com.tida_okinawa.corona.ui.PreferrencePage"
            name="Corona">
      </page>
      <page
            category="com.tida_okinawa.corona.ui.PreferrencePage"
            class="com.tida_okinawa.corona.ui.ConnectionPreferencePage"
            id="com.tida_okinawa.corona.ui.ConnectionPreferrencePage"
            name="データベース接続">
      </page>
   </extension>

</plugin>
