<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="クレンジング結果エクスポート"
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tida_okinawa.corona.ui.editors.resultpattern.export.ClaimWorkDataTagAlignedExportHandler"
            commandId="com.tida_okinawa.corona.ui.editors.resultpatterneditor.export.tagAligned.exportTecClaimWorkData">
      </handler>
   </extension>
   <extension
         name="クレンジング結果エクスポート"
         point="org.eclipse.ui.commands">
      <command
            id="com.tida_okinawa.corona.ui.editors.resultpatterneditor.export.tagAligned.exportTecClaimWorkData"
            name="CSV(整列ラベル付)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.tida_okinawa.corona.ui.command.menuExportClaimWorkData?after=additions">
         <command
               commandId="com.tida_okinawa.corona.ui.editors.resultpatterneditor.export.tagAligned.exportTecClaimWorkData"
               icon="icon/export_tag.png"
               label="CSV(整列ラベル付)"
               style="push"
               tooltip="CSV(整列ラベル付)">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.tida_okinawa.corona.ui.resultPatternEditorContribution3"
            targetID="com.tida_okinawa.corona.ui.editor.resultpatterneditor">
         <action
               class="com.tida_okinawa.corona.ui.editors.resultpattern.export.ResultPatternTagAlignedExportActionDelegate"
               icon="icon/export_tag.png"
               id="com.tida_okinawa.corona.ui.ResultPatternEditorActionDelegate3"
               label="CSV出力(整列ラベル付)"
               menubarPath="edit/additions"
               style="push"
               toolbarPath="additions"
               tooltip="CSV出力(整列ラベル付)">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.tida_okinawa.corona.ui.editors.resultpattern.export.Activator"></startup>
   </extension>

</plugin>
